@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  font-size: 62.5%;
  font-family: Overpass, sans-serif;
  --very-dark-blue: #131518;
  --black-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  --organge: #fc7614;
  --pure-white: #fff;
  --light-grey: #969fad;
}

body {
  padding: 15.4rem 2.6rem 15.9rem 2.4rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-dark-blue);
}

.component {
  display: flex;
  max-width: 32.5rem;
  padding: 2.4rem 2.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.9rem;
  border-radius: 1.5rem;
  background: var(--black-gradient);
}

.component__heading {
  color: var(--pure-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.component__text {
  color: var(--light-grey);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

.component__button {
  width: 100%;
  height: 4.5rem;
  border-radius: 22.5px;
  background: var(--organge);
  cursor: pointer;
}
